.btn-blue,
.btn-empty {
    color: white;
    font-size: 19px;
    border: 1px solid white;
    border-radius: 30px;
    padding: 12px 25px;
}
.btn-blue {
    background: #0F3559;
}
.btn-empty {
    background: transparent;

}